<div id="font-information-one">
  <div id="font-information">
    <hr>
    <h3><span style="font-family: '<%= @font.font_name %>';"><%= @font.font_name %></span></h3>
    <h2><%= @font.classification %></h2>
    <p><span style="font-family: '<%= @font.font_name %>';"><%= @font.history %></span></p>
    <h5>fonts</h5>
  </div>

  <div id="capital-box">
      <!-- <h5>fonts</h5> -->
  </div>
</div>


<h2>YEAR RELEASED</h2>
  <span style="font-family: '<%= @font.font_name %>';"><%= @font.year_released %></span>

<h2>DESIGNED BY</h2>
  <span style="font-family: '<%= @font.font_name %>';"><%= @font.designed_by %></span>

<h2>INSPIRED BY</h2>
  <span style="font-family: '<%= @font.font_name %>';"><%= @font.inspired_by %></span>


<div id="grey-box">
  <span style="font-family: '<%= @font.font_name %>';">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</span>
  <span style="font-family: '<%= @font.font_name %>';">a b c d e f g h i j k l m n o p q r s t u v</span>
  <span style="font-family: '<%= @font.font_name %>';">! @ # $ % ^ & * ( ) _ + =</span>

  <h2>try it out yourself. type whatever you want below</h2>
  <input class="test" type="text" placeholder="the quick brown fox jumps over the lazy dog"></input>
</div>


<div class="combination-cards">

  <% @combinations.each do |combo| %>
    <div id="combo-card">
  
      <%= combo.fonts.first.font_name %>
      &
      <%= combo.fonts.last.font_name %>

      <span style="font-family: '<%= combo.fonts.first.font_name %>';">HEADER TEXT</span>

      <span style="font-family: '<%= combo.fonts.last.font_name %>';">lorem ipsum text this is the body</span>

    </div>
  <% end %>


</div><!-- closes combination-cards div -->


