<h1><%= @font.font_name %></h1>
  <h3><%= @font.year_released %></h3>
  <h3><%= @font.classification %></h3>
    <p><%= @font.history %></p>


<h4>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</h4>
<h4>a b c d e f g h i j k l m n o p q r s t u v</h4>
<h4>! @ # $ % ^ & * ( ) _ + =</h4>


<h3>try it out yourself</h3>
<input class="test" type="text" placeholder="the quick brown fox jumps over the lazy dog"></input>

<div class="combination-cards">
  <div id="combo-card">
    <%= @combination.first %>
  </div>
</div>