<!DOCTYPE html>
<html>
<head>
  <title>FontApp</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,700italic,500italic,500,400italic,300italic,300,100,100italic,900italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div id="navigation-container">
    <header>
      <nav>
        <div id="nav-left">
          <li><%= link_to("WEBSITE NAME", root_path) %></li>
        </div>

        <div id="nav-right">
          <input id="search-bar" type="text" placeholder="search for a font"></input>
        </div>
      </nav>
    </header>
  </div>
  <div id="dynamic-area">
    <%= yield %>
  </div>
  
  <div class="push"></div>
  </div>


  <div id="footer-container">
    <footer>
      <% @fonts.each do |font| %>
        <%= link_to font.font_name, font_path(font) %>
      <% end %>
    </footer>
  </div>

</body>
</html>